@model LMS4Carroll.Models.ChemEquipment

@{
    ViewData["Title"] = "Add | Chem Equipment";
}
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Create Chemical Equipment</div>
    <div class="panel-body">
        <br />
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>Chemical Equipment</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SerialNumber" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="SerialNumber" class="form-control" />
                        <span asp-validation-for="SerialNumber" class="text-danger" />
                    </div>
                 </div>
                <div class="form-group">
                    <label asp-for="InstalledDate" class="col-md-2 control-label required"></label>
                        <div class="col-md-10">
                            <input asp-for="InstalledDate" class="form-control" />
                            <span asp-validation-for="InstalledDate" class="text-danger" />
                        </div>
                    </div>
                <div class="form-group">
                    <label asp-for="InspectionDate" class="col-md-2 control-label required"></label>
                        <div class="col-md-10">
                            <input asp-for="InspectionDate" class="form-control" />
                            <span asp-validation-for="InspectionDate" class="text-danger" />
                        </div>
                    </div>
                <div class="form-group">
                    <label asp-for="EquipmentModel" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="EquipmentModel" class="form-control" />
                        <span asp-validation-for="EquipmentModel" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EquipmentName" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="EquipmentName" class="form-control" />
                        <span asp-validation-for="EquipmentName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LocationID" class="col-md-2 control-label required">Building Name</label>
                    <div class="col-md-10">
                        <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationName"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OrderID" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <select asp-for="OrderID" class="form-control" asp-items="ViewBag.OrderID"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CAT" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="CAT" name="Cat" class="form-control" value="@ViewData["CAT"]"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LOT" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="LOT" name="Lot" class="form-control" value="@ViewData["LOT"]" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger" />
                    </div>
                </div>
                <div class="form-group" id="createbtn">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-danger">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
