@{
    ViewData["Title"] = "Check your Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Please check your email to follow verification instruction [required for further access]. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>
