@model LMS4Carroll.Models.Order

@{
    ViewData["Title"] = "Add | Order";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Create Orders</div>
    <div class="panel-body">
        <br />
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>Order</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Invoice" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="Invoice" class="form-control" />
                        <span asp-validation-for="Invoice" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PO" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="PO" class="form-control" />
                        <span asp-validation-for="PO" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Orderdate" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="Orderdate" class="form-control" />
                        <span asp-validation-for="Orderdate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Recievedate" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="Recievedate" class="form-control" />
                        <span asp-validation-for="Recievedate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="VendorID" class="col-md-2 control-label required">Vendor Name</label>
                    <div class="col-md-10">
                        <select asp-for="VendorID" class="form-control" asp-items="ViewBag.VendorID"></select>
                    </div>
                </div>
                <div class="form-group" id="createbtn">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-danger">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
        </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
