@model LMS4Carroll.Models.ChemLog

@{
    ViewData["Title"] = "Add | Chem Log";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Create Log Entry</div>
    <div class="panel-body">
        <br /><form asp-action="Create">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ChemInventoryId" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="ChemInventoryId" name="BarcodeInput"  class="form-control" value="@ViewData["Barcode"]"/>
                        <span asp-validation-for="ChemInventoryId" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CourseID" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <select asp-for="CourseID" name="CourseInput" class="form-control" asp-items="ViewBag.CourseID"  value="@ViewData["Course"]"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="QtyUsed" class="col-md-2 control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="QtyUsed" name="QtyusedInput" class="form-control" asp-items="ViewBag.Qtyused" value="@ViewData["Qty"]"/>
                    </div>
                </div>
                <div class="form-group" id="createbtn">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-danger">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
